node_modules
coverage
.nyc_output
.DS_Store
*.log
.vscode
.idea
dist
compiled
.awcache
.rpt2_cache
docs
/inject
/Provider
/service
/useService
/stories
/*.js
!*.config.js
!.eslintrc.js
/*.ts
/*.js.map
